@use 'quasarVariables.scss';

.outerbox {
  border-color: quasarVariables.$primary;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}

.head {
  box-shadow: none;
  margin-top: 1rem;
  text-align: center;
  display: grid;

  p {
    font-size: 2rem !important;
    line-height: 2.5rem;
  }

  #tlc {
    text-align: center;
    font-size: .75rem;
  }

}

.formular {
  width: 100%;
  background: none;
  //background-color: quasarVariables.$light-grey;
  align-content: space-between;
  border-color: quasarVariables.$primary;
  border-style: solid;
  border-width: 0;
  direction: ltr;
  display: flex;
  justify-content: center;
  //padding-bottom: 2rem;
  //padding-top: 2rem;
  //margin-top: 1rem;
  //margin-bottom: 1rem;
  box-shadow: none;

  .container {
   margin: 0 ;
    display: grid;

    h5 {
      margin-bottom: 1rem
    }

    #OneStripElement {
      width: 90px;
    }

    #TwoStripElement {
      width: 90px;
    }

    #inputbox {
      text-align: left;
      margin-bottom: .5rem;
      width: 100%;
      display: flex;
    }

    #label {
      width: 55%
    }

    #inputboxCustomQC {
      text-align: center;
      margin-bottom: .5rem;
      overflow: hidden;
      white-space: nowrap;
    }

 }

  #resultbox p{
    margin-top: 1rem;
    text-align: center;
    font-size: .75rem;
  }

  #result h5{
    text-align: center;

  }

   span {
   font-size: 1.5rem;
   }

  hr {
    border-color: quasarVariables.$dark-grey;
    border-width: 1px;
    border-style: solid;
  }

  input {
    width: 100px;
    opacity: 1;
    position: inherit;
    display: inline;
    height: auto;
    line-height: 2rem;
    font-size: 1.5rem;
    background: quasarVariables.$light-grey;

  }

  #OneStripElement{
    font-size: 1.5rem;
  }

  #TwoStripElement{
    font-size: 1.5rem;
    color: quasarVariables.$positive;
  }

  #CustomQC{
    font-size: 1.5rem;
    color: quasarVariables.$positive;
    width: 100px;
    display: inline;
  }


  .form-text-input {
    border: none;
    outline: none;
    width: 100%;
    color: quasarVariables.$positive;


    &.has-errors {
      color: quasarVariables.$negative !important;
    }
  }

}

.form-bg-danger {
  display: none;
}

.form-color-danger {
  display: none;
}

.form-text-small {
  display: none;
}

.mt-1 {
  color: quasarVariables.$white !important;
}